# ----- Configs de upload de imagem

# Tamanho máximo de upload de imagem
NEXT_PUBLIC_MAX_IMAGE_SIZE=1048576
# Diretório onde as imagens são salvas após upload
IMAGE_UPLOAD_DIRECTORY='directory'
# URL completa do seridor de imagens sem barra final
IMAGE_SERVER_URL='server/url'